extends ../../_layout

block main
    section#introduction
        article.headline
            .wrap
                h3 힐탑학원 소개
                nav
                    ul
                        li
                            a(data-scroll href="#hilltop_is") 힐탑 학원은
                        li
                            a(data-scroll href="") 전략
                        li
                            a(data-scroll href="") 시스템
                        li
                            a(data-scroll href="") 내부시설

        article.comment
            .wrap
                div
                    p 
                        img(src="https://icongr.am/fontawesome/quote-left.svg?size=20&color=d6d6d6", alt="")
                        | 학생들의 진로에 중요한 요건 중 하나인 입시학원
                    p 
                        | 학원은 많지만 <span>좋은학원</span>을 선택하기란 여려운 일입니다.
                        img(src="https://icongr.am/fontawesome/quote-right.svg?size=20&color=d6d6d6", alt="")
                        

        article#hilltop_is.hilltop_is
            .wrap
                hgroup
                    h2 힐탑 학원은
                    h5 be good to you
                ul
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/pray.png", alt="pray").pray
                            figcaption 믿음의 기업
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/heart.png", alt="heart").heart
                            figcaption 사익 지양 / 관계 지향
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/graduation_cap.png", alt="graduation_cap").graduation_cap
                            figcaption 학생 중심
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/handshake.png", alt="handshake").handshake
                            figcaption 평생보험

        article.comment.two
            .wrap
                div
                    p 
                        | "힐탑학원"은 믿음의 초석 위에 세워진 학원입니다. 
                    p 
                        | 한 명 한 명과의 친밀한 관계로부터 시작되는 [학생 맞춤식 교육]의
                    p 
                        | 좋은 학원을 찾는다면 <strong>힐탑은 좋은 학원입니다.</strong>