extends ../../_layout

block main
    section#introduction
        article.headline
            .wrap
                h3 힐탑학원 소개
                nav
                    ul
                        li
                            a(data-scroll href="#hilltop_is") 힐탑 학원은
                        li
                            a(data-scroll href="#strategy") 전략
                        li
                            a(data-scroll href="#system") 시스템
                        li
                            a(data-scroll href="#inside") 내부시설

        article.comment
            .wrap
                p 
                    img(src="/assets/images/introduction/quote_left.png", alt="quote left")
                    | 학생들의 진로에 중요한 요건 중 하나인 입시학원
                p 
                    | 학원은 많지만 <span>좋은학원</span>을 선택하기란 여려운 일입니다.
                    img(src="/assets/images/introduction/quote_right.png", alt="quote righ")
                        

        article#hilltop_is.hilltop_is
            .wrap
                hgroup
                    h2 힐탑 학원은
                    h5 be good to you
                ul
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/pray.png", alt="pray").pray
                            figcaption 믿음의 기업
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/heart.png", alt="heart").heart
                            figcaption 사익 지양 / 관계 지향
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/graduation_cap.png", alt="graduation_cap").graduation_cap
                            figcaption 학생 중심
                    li
                        figure
                            img(src="/assets/images/introduction/hilltop_is/handshake.png", alt="handshake").handshake
                            figcaption 평생보험

        article.comment.two
            .wrap
                .mobile
                    p 
                        | "힐탑학원"은 믿음의 초석 위에 세워진 학원입니다. 
                    p 
                        | 한 명 한 명과의 친밀한 관계로부터 시작되는
                    p 
                        | [학생 맞춤식 교육]의 좋은 학원을 찾는다면
                    p 
                        | <strong>힐탑은 좋은 학원입니다.</strong>
                .desktop
                    p 
                        | "힐탑학원"은 믿음의 초석 위에 세워진 학원입니다. 
                    p 
                        | 한 명 한 명과의 친밀한 관계로부터 시작되는 [학생 맞춤식 교육]의
                    p 
                        | 좋은 학원을 찾는다면 <strong>힐탑은 좋은 학원입니다.</strong>

        article#strategy.strategy
            .wrap
                hgroup
                    h2 힐탑 학원의 전략
                    h5 Go to the hilltop
                .box
                    .big_circle
                    figure.circle.graph
                        img(src="/assets/images/introduction/strategy/graph.png" alt="graph")
                        figcaption 성적상승
                    figure.circle.location
                        img(src="/assets/images/introduction/strategy/location.png" alt="location")
                        figcaption 학생과 함께<br/>목표설정
                    figure.circle.list
                        img(src="/assets/images/introduction/strategy/list.png" alt="list")
                        figcaption 구체적인<br/>계획 세우기
                    figure.circle.monkey_wrench
                        img(src="/assets/images/introduction/strategy/monkey_wrench.png" alt="monkey_wrench")
                        figcaption 마음.생각 멘토링<br/>(멘탈 관리)

        article#system.system
            .wrap
                hgroup
                    h2 힙탑 학원 시스템
                    h5 Capture a hill
                ul
                    li
                        h2 영어
                        span [원장담당]
                        .divide
                            .line
                    li
                        h2 수학
                        span [부원장담당]
                        .divide
                            .line
                    li
                        h2 기타
                        span [서브강사]
                        .divide
                            .line
                    li
                        h2 소수정예 클래스
                        span 한 반에 5명. 소외되는 학생없이 개인별 수준 학습

        article#inside.inside
            .wrap
                hgroup
                    h2 힐탑 학원 내부시설