extends ../../_layout
include ../../mixins/contents_box
include ../../mixins/common_title

block main
    section#school.detail
        .container
            +common_title('초등사관', '영어', 'view')
            +contentsBox('school')