extends ../../_layout
include ../../mixins/school_title
include ../../mixins/list

block main
    section#school
        .container
            +school('초등사관')
            +list('/html/elementary/detail.html')
