extends ./_admin-layout
include ../../mixins/admin_common_title
include ../../mixins/label-input
include ../../mixins/label-textarea
include ../../mixins/admin_buttons

block main
    section.employ
        +admin_common_title('강사채용')
        article
            form
                .apply
                    .name 적용
                    input(type="radio" name="apply" id="apply-able" checked)
                    label(for="apply-able") 사용
                    input(type="radio" name="apply" id="apply-disable")
                    label(for="apply-disable") 미사용
                +labelTextarea('힐탑인재상')(class="span-width-80")
                .errors 제목을 입력해 주세요.
                +labelInput('지원자격')(class="span-width-80")
                .errors 제목을 입력해 주세요.
                +labelInput('제출서류')(class="span-width-80")
                +labelInput('면접일정')(class="span-width-80")
                +labelInput('희망연봉')(class="span-width-80")
            +admin_buttons('수정')