extends ./_admin-layout
include ../../mixins/list_admin
include ../../mixins/admin_common_title

block main
    section.notice
        +admin_common_title('공지사항', '', 'list')
        +adminList('/html/admin/notice-edit.html')