extends ./_admin-layout
include ../../mixins/admin_common_title
include ../../mixins/admin_buttons

block main
    section.sns
        +admin_common_title('SNS관리')
        article
            form(action="")
                label(for="instagram-url")
                    figure
                        img(src="/assets/images/devicons/instagram.png", alt="instagram icon")
                    input(type="text" id="instagram-url")
                label(for="youtube-url")
                    figure
                        img(src="/assets/images/devicons/youtube.png", alt="youtube icon")
                    input(type="text" id="youtube-url")
            +admin_buttons('수정')