extends ./_admin-layout
include ../../mixins/admin_common_title
include ../../mixins/admin_buttons
include ../../mixins/label-image

block main
    section.sns
        +admin_common_title('SNS관리')
        article
            form(action="")
                +labelImage('/assets/images/devicons/instagram.png')(style="width: 26px;")
                +labelImage('/assets/images/devicons/youtube.png')(style="width: 32px;")
            +admin_buttons('수정', '삭제')