section#banner
    .wrap
        span.eng-math 영어∙수학의 
        img.uplands(src="/assets/banner/banner_uplands.png", alt="uplands icon")
        .hilltop
            p 힐탑학원
    .decorate
    img.comment(src="/assets/banner/banner_eng.png", alt="banner comment")