-
    var news = [
        {
            title: '공지사항',
            list: [
                '리스트의 1번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 2번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 3번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 4번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 5번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
            ]
        },
        {
            title: '초등사관',
            list: [
                '리스트의 1번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 2번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 3번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                //- '리스트의 4번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                //- '리스트의 5번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
            ]
        },
        {
            title: '중등관',
            list: [
                '리스트의 1번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 2번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 3번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 4번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                //- '리스트의 5번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
            ]
        },
        {
            title: '고등관',
            list: [
                '리스트의 1번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                '리스트의 2번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                //- '리스트의 3번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                //- '리스트의 4번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
                //- '리스트의 5번째 소식입니다. 긴 줄 생략 기호 테스트인 ellipsis를 위해 더 작성하는 중 입니다.',
            ]
        },
    ]

section#news
    .container
        hgroup
            h1 힐탑소식
        .contents
            ul.box
                each item in news
                    li
                        .wrap
                            .title
                                h3= item.title
                                span more
                            ul.list
                                each list in item.list
                                    li= list
