extends ../../_layout
include ../../mixins/notice_title
include ../../mixins/contents_box

block main
    section#notice.detail
        .container
            +notice('공지사항')
            +contentsBox()