extends ../../_layout
include ../../mixins/common_title
include ../../mixins/contents_box

block main
    section#notice.detail
        .container
            +common_title('공지사항', '', 'view')
            +contentsBox('', '/html/notice/notice.html')