extends ../../_layout
include ../../mixins/common_title
include ../../mixins/list

block main
    section#notice.notice
        .container
            +common_title('공지사항', '', 'list')
            +list('/html/notice/detail.html')