mixin common_title(title, course, navigate)
    hgroup.common-title
        h3= title
            if navigate === 'list' && title !== '공지사항'
                ul
                    li.active 영어
                    li 수학
            else
                span= course
        p= navigate