footer
    ul
        li
            .devicon
                img(src="/assets/images/devicons/instagram.png", alt="instagram logo")
                img(src="/assets/images/devicons/youtube.png", alt="youtube logo")
        li 힐탑학원 <br/> (35370) 대전광역시 서구 관저동 1962-9 (서일빌딩 4층)
        li Tel: 070-7793-3431 &nbsp; Fax: 070-7793-3431
        li 사업자등록번호: 111-11-11111 &nbsp; 대표: 신세현
        li copyright © HILLTOP ACADEMY Co.,Ltd. <br/> All rights Reserved.
        li
            img(src="/assets/images/logo_desk.png", alt="Logo")