footer
    ul
        li
            .devicon
                a(href="https://www.instagram.com/hilltop0301/" target="_blank")
                    img(src="/assets/images/devicons/instagram.png", alt="instagram logo")
                a(href="")
                    img(src="/assets/images/devicons/youtube.png", alt="youtube logo")
        li 힐탑학원 <br/> (35370) 대전광역시 서구 관저동 1962-9 (서일빌딩 4층)
        li Tel: 070-7793-3431 &nbsp; E-mail: hilltopshinssam@naver.com
        li 사업자등록번호: 240-94-00209 &nbsp; 대표: 신세현
        li Copyright © HILLTOP ACADEMY Co.Ltd. <br/> All rights Reserved.
            a(href="/html/login/login.html")
                img(src="/assets/images/admin/admin.png", alt="admin move").admin-move
        li
            img(src="/assets/images/logo_desk.png", alt="Logo")