-
    var menu = [
        {
            name:'힐탑학원 소개',
            subMenu: [
                 {
                    name: '학원소개',
                    path: '/html/introduction/introduction.html'
                 },
                //-  {
                //-     name: '내부시설',
                //-     path: '/html/introduction/inside.html'
                //-  },
            ]
        },
        {
            name: '공지사항',
            subMenu: [
                 {
                    name: '공지사항',
                    path: '/html/notice/notice.html'
                 },
                 {
                    name: '힐탑일정',
                    path: '/html/notice/schedule.html'
                 },
                 {
                    name: '강사채용',
                    path: '/html/notice/hire.html'
                 },
            ]
        },
        {
            name:'초등사관',
            subMenu: [
                 {
                    name: '영어',
                    path: '/html/elementary/school.html'
                 },
                 {
                    name: '수학',
                    path: '/html/elementary/school.html'
                 },
            ]
            
        },
        {
            name:'중등관',
            subMenu: [
                 {
                    name: '영어',
                    path: '/html/middle/school.html'
                 },
                 {
                    name: '수학',
                    path: '/html/middle/school.html'
                 },
            ]
        },
        {
            name:'고등관',
            subMenu: [
                 {
                    name: '영어',
                    path: '/html/high/school.html'
                 },
                 {
                    name: '수학',
                    path: '/html/high/school.html'
                 },
            ]
        },
    ]
header
    article.container.mobile
        figure
            .home
                a(href="/index.html")
                    img(src="/assets/images/logo_main.png", alt="hilltop logo")
                    span 힐탑학원
        nav
            ul
                each m in menu
                    li= m.name
                        div
                            each sub in m.subMenu
                                p
                                    a(href=`${sub.path}`)= sub.name
        .hamburger.hamburger--squeeze.js-hamburger
            .hamburger-box
                .hamburger-inner
    article.container.desk
        figure
            .wrap
                .home
                    a(href="/index.html")
                        img(src="/assets/images/logo_desk.png", alt="hilltop logo")
                .sns-icons-wrap
                    a(href="").instagram
                        img(src="/assets/images/devicons/instagram.png" alt="instagram logo")
                    a(href="").youtube
                        img(src="/assets/images/devicons/youtube.png" alt="youtube logo")
        nav
            .main
                ul
                    each m in menu
                        li= m.name
            .sub
                ul.container
                    each m in menu
                        li.wrap
                            each sub in m.subMenu
                                p
                                    a(href=`${sub.path}`)= sub.name