extends ../../_layout
include ../../mixins/common_title
include ../../mixins/list

block main
    section#school
        .container
            +common_title('고등관','','list')
            +list('/html/elementary/detail.html')
